* {
  box-sizing: border-box;
  padding: 0px;
  margin: auto;
}

body {
  background-image: radial-gradient(#000000 1.4000000000000001px, #333333d8 1.4000000000000001px);
  background-size: 28px 28px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  display: flex;
  flex-direction:column;
  flex-wrap: wrap;
}
/* Between lines 16-43 I have my nav bar styling displayed, it will wrap when the screen gets small enough, and when any of the tabs are clicked they will take you to the corresponding area on the page */
#Navbar ul {
  top: 6px;
  position: fixed;
  list-style-type: none;
  overflow: hidden;
  background-color: #474747ae;
  display: flex;
  flex-wrap: wrap;
}

li {
  display: inline;
  float: right;

}


li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #068de1;
}
/*Lines 45-68 contain my litte bio*/
#myself {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: 195px;
    margin-left: 195px;
}


#mike-pic {
  margin-top: 100px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center 25%;
}

.my-info {
  font-size: x-large;
  color: rgb(255, 255, 255);
  padding: 212px;
  padding-top: 10px;
} 
/* Lines 70-128 contain the projects that I have done, I have a flex display that wraps when the screen gets smaller*/
.Alt-projects, .week-1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  }

.MFP {
  display: table;
}

#first-done {
  padding: 94px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 416px;
  border-radius: 5%;
  margin-top: 200px;
  margin-bottom: 50px;
  color: #ffffff;
}

article {
  display: inline-block;
}

#mini-proj, #nothing {
  width: auto;
  padding: 44px;
  height: 590px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 50px;
  border-radius: 15%;
  color: #ffffff;
}

#Horiseon-proj {
  height: 500px;
  display: grid;
}

#standby {
  height: 259px;
  border-radius: 5%;
}


.my-proj {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: x-large;
  padding-top: 20px;
  padding-left: 20px;
  color: rgb(252, 247, 247);
}
.funny-proj,.study-guide {
  width: 300px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: xx-large;
  color: rgb(255, 255, 255);
}
/*Lines 130-160 contain the stlying for my social media links, with clickable icons */
#contact-me {
  display: flex;
    flex-direction: column;
    color: #ffffff;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 56px;
  text-align: center;
  text-decoration: none;


}

.fa-brands, .fa-solid {
  padding: 12px;
   font-size: 30px;
  width: 56px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook, .fa-instagram, .fa-github-square {
  background: #626262;
  color: white;
}
/* This is just a simple footer */
.footer {
  padding: 50px;
  bottom: auto;
  text-align: center;
  color: bisque;
}
/*I added a media query for my nave bar, but im still learning this feature so that is all it will have for now*/
@media screen and (max-width: 992px) {
  #Navbar ul {
    background: #772014;
  }
}